.contactPage-container {

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

/* small screens */
@media (max-width: 732px) {

  .contactPage-container {
    margin-top: 50px;

  }

  .hire {
    font-family: 'jaapokki';
    text-decoration: underline;
  }

  .gif {
    width: 100px;
  }

}

/* big screens */
@media (min-width: 732px) {

}
