@font-face {
    font-family: 'Jaapokki';
    src: url('../fonts/jaapokki-regular.eot');
    src: url('../fonts/jaapokki-regular.eot') format('embedded-opentype'),
         url('../fonts/jaapokki-regular.woff') format('woff'),
         url('../fonts/jaapokki-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
