.fullscreen-popup {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;
  width: 100vw;
  height: 100vh;

  background-color: white;
  display: block;
  align-items: flex-start;

  overflow-y: scroll;  
}

.iconWrapper {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 3%;
  right: 8%;

}

.contact-info, .about-info {
  text-align: left;
}

/* small screens */
@media (max-width: 732px) {
  .popup-content {
    padding-top: 15vw;
  }

  .contact-info, .about-info {
    padding-left: 10vw;
  }

  .about-info h1 {
    color: red;
    font-size: 4vw;
  }
}


/* big screens */
@media (min-width: 732px) {
  .iconWrapper {
    margin-top: 1vw;
  }
  .popup-content {
    padding-top: 2vw;
    margin-bottom: 5vw;
  }

  .contact-info, .about-info {
    padding-left: 10vw;
  }

  .about-info h1 {
    color: red;
    font-size: 4vw;
  }

  .contact-info {
    /* font-size: 2.5vw; */
    margin-bottom: 5vw;
  }
}
