.hireme-page {
  position: fixed;
  bottom: 7%;
  right: 7%;

  padding: 0 10px 0 10px;
  border: 1px solid black;
}

.hireme-page h1 {
  color: black;
}


/* small screens */
@media (max-width: 732px) {

  .hireme-page {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
  }

  .hireme-page h1 {
    font-size: 6vw;
  }

  .mobile {
    display: block;
  }

}


/* big screens */
@media (min-width: 732px) {
  .hireme-page h1 {
    font-size: 2.5vw;
  }
}
