.hireme-button {
  position: fixed;
  bottom: 7%;
  right: 7%;

  padding: 0 10px 0 10px;
  background-color: transparent;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  /* border-right: 2px solid black; */
}

.hireme-button-container {
  background-color: transparent;
}

.hireme-button h1 {
  padding: 0;
  margin: 0 auto;
  padding: 0 auto;
  background-color: transparent;
}

/* small screens */
@media (max-width: 732px) {
  .hireme-button-container h1 {
    font-size: 7vw;
  }

  .hireme-button-container {
    padding-top: 5px;
  }
  .mobile {
    display: block;
  }
}


/* big screens */
@media (min-width: 732px) {
  .hireme-button-container h1 {
    font-size: 32px;
  }
}
