.homePage {
   font-family: 'Jaapokki';
   margin-left: 20px;
}

.mainQouteWrapper {
  display: flex;
  justify-content: left;
}

h1 {
  padding: 0;
  margin: 0;
}

.firstWord {
  color: rgb(96, 96, 96);
}

.qoute {
  font-weight: bolder;
  margin: -10px 0 -10px 0;
}

.green {
  color: rgb(12, 231, 111);
}

.iLetter {
  font-size: 1.5em;
  font-weight: bolder;
}

.awesomeIdeas {
  color: rgb(255, 38, 0);
}

.excited {
  font-weight: 500;
  color: rgb(242, 255, 0);
}

.products {
  color: rgb(6, 255, 255);
  margin-right: 3px;
}

/* small screens */
@media (max-width: 732px) {
  .homePage {
    width: 85vw;
    margin-top: 6vh;
    margin-bottom: 3vh;
  }

  .mainQoute {
    font-size: 10vw;
    padding: 0;
    margin: 0;

    font-weight: 100;
  }

  h1 {
    padding: 0;
    margin: 0;
  }

  .reflection {
    margin-top: 20px;
  }
}

/* big screens */
@media (min-width: 732px) {
  .homePage {
    margin-top: 30px;
    width: 75vw;
  }

  .mainQoute {
    font-size: 6vw;
  }

  .reflection {
    margin-top: 70px;
    text-decoration: underline;
    text-decoration-color: black;
  }
}
