.home-page {
   font-family: 'Jaapokki';
   margin-left: 20px;
}

.main-qoute-wrapper {
  display: flex;
  flex-direction: column;
}

.home-page h1 {
  padding: 0;
  margin: 0;
  display: block;
}

.blue {
  color: #1601E0;
}

.part-two h1, .part-three h1 {
  font-weight: 100;
}

/* small screens */
@media (max-width: 732px) {
  .home-page {
    width: 85vw;
    height: auto;
    margin-top: 8vh;
    margin-bottom: 10vh;
  }

  .main-qoute-wrapper {
    margin-top: 15vw;
    max-width: 900px; 
  }

  .part-one, .part-three {
    margin-bottom: .1vw;
  } 

  .qoute {
    font-size: 7.9vw;
  }

}

/* big screens */
@media (min-width: 732px) {
  .home-page {
    width: 75vw;
    height: 100vh;
  }

  .main-qoute-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-59%,-50%);

    width: 70%;
  }

  .part-one, .part-three {
    margin-bottom: 2vw;
  } 

  .qoute {
    font-size: 5vw;
  }
}
