.hover-gif-box {
    position: fixed;
    bottom: 0;
    right: 0;

    border: 1px solid black;
}

/* small screens */
@media (max-width: 732px) {
    .hover-gif-box {
        width: 50vw;
        height: 40vw;
    }

    .ifMobile {
        display: none;
    }
}
/* big screens */
@media (min-width: 732px) {
    .hover-gif-box {
        width: 30vw;
        height: 25vw;
    }
}