.navigation {

  /* display: flex;
  justify-content: center;
  */

}

.mobile {
  display: none;
}

/* small screens */
@media (max-width: 732px) {

  .navigation {
    position: fixed;
    bottom: 7%;
    right: 7%;

    /* background-color: red; */

    height: 50px;
    width: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation h1 {
    color: white;
  }
  .mobile {
    display: block;
  }

}


/* big screens */
@media (min-width: 732px) {

}
