.navigation {
  position: fixed;
  bottom: 7%;
  right: 7%;

  padding: 0 10px 0 10px;
  border: 1px solid black;
}

/* small screens */
@media (max-width: 732px) {

  .navigation {

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
  }

  .navigation h1 {
    color: black;
  }

  .mobile {
    display: block;
  }

}


/* big screens */
@media (min-width: 732px) {

}
