.projectPage {
  font-family: 'Jaapokki';
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  justify-content: left;
}

.title-container h1 {
  margin: 0;
  padding: 0;
}

h1.title {
  font-weight: 100;
}

.projects-container {
  display: flex;
  justify-content: left;
}

.project-container {
  display: flex;
  width: 84vw;
  height: 30vw;

  margin-bottom: 3vw;

  border: 2px solid black;
}

.project-illustration {
  flex: 7;
  border: 1px solid orange;
  background-color: orange;
  color: orange;
}

.project-details {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.project-number {
  flex: 2;
  border: 1px solid black;
}

.project-description {
  flex: 4;
  border: 1px solid black;
}

.project-name {
  flex: 2;
  border: 1px solid black;
}
.project-name a {
  transition: all ease-in .3s;
}

.project-name:hover a {
  color: rgb(6, 255, 255);
}

.project-description, .project-name {
  margin: 0;
  padding: 0;
}

/* small screens */
@media (max-width: 732px) {

  .projectPage {
    margin-top: 5px;
    width: 85vw;
  }

  .title {
    letter-spacing: .2px;
  }

  .title-container {
    font-size: 6vw;
  }

  .projects-container {
    margin-top: 1px;
  }

  .project-container {
    margin-bottom: 15px;
  }
  
  .project-details {  
    padding-left: 10px;
  }

  .project-name {
    font-size: 8vw;
  }

  .project-description {
    font-size: 4vw;
  }

  img {
    transition: all 2s cubic-bezier(.23,1,.32,1);
    transform: scale(1);
  }

  img:hover {
    transform: scale(1.1);
  }

  .project-image {
    display: block;
    width: 20vw;
  }

}

/* big screens */
@media (min-width: 732px) {

  .projectPage {
    margin-top: 7vw;
    width: 75vw;
  }

  .projects-container {
    margin: 0;
    padding: 0;
  }

  h1.title {
    font-size: 2.5vw;
  }

  .title-container {
    margin-bottom: 3vw;
  }

  .project-description, .project-name {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .project-details {
    padding-left: 20px;
  }

  .project-name {
    font-size: 5.5vw;
  }

  .project-description {
    font-size: 1.8vw;
  }

}
