.project-page {
  font-family: 'Jaapokki';
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  justify-content: left;
}

.project-page h1,h2,h3 {
  margin: 0;
}

.title-container h1 {
  margin: 0;
  padding: 0;
}

h1.title {
  font-weight: 100;
}

.projects-container {
  display: flex;
  justify-content: left;
}

.project-container {
  display: flex;
}

.project-illustration {
  flex: 7;
  background-color:   rgb(23, 0, 87);
  color: orange;
}

.project-details {
  flex: 3;
  display: flex;
}

.project-number {
  flex: 2;

  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

.project-number h2 {
  padding: 0;
  margin: 0;

  background-color: transparent;
}

.project-description {
  flex: 4;

  display: flex;
  align-items: flex-start;
  /* border: 1px solid black; */
}

.project-description h2 {
  font-weight: 100;
  color: black;
}

.project-name {
  flex: 3;

  display: flex;
  /* border: 1px solid black; */
}

.project-name a {
  transition: all ease-in .3s;
}

.project-name:hover a {
  color: rgb(6, 255, 255);
}

.project-description, .project-name {
  margin: 0;
  padding: 0;
}

/* small screens */
@media (max-width: 732px) {

  .non-mobile {
    display: none;
  }
  
  .project-page {
    margin-top: 5px;
    width: 90vw;
  }

  .title {
    letter-spacing: .2px;
  }

  .title-container {
    font-size: 6vw;
  }

  .project-container {

    display: flex;
    flex-direction: column;

    margin-bottom: 10vw;
  }

  .project-illustration {
    width: 100%;
    height: 40vw;
  }

  .project-details {
    display: flex;
    flex-direction: column-reverse;
  }

  .project-description {
    font-size: 3vw;
  }

  .project-name {
    font-size: 6vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

/* big screens */
@media (min-width: 732px) {

  .project-page {
    margin-top: 7vw;
    width: 75vw;
  }

  .projects-container {
    margin: 0;
    padding: 0;

  }

  .project-container {
    margin-bottom: 4vw;

    width: 84vw;
    height: 30vw;
  }

  h1.title {
    font-size: 2.5vw;
  }

  .title-container {
    margin-bottom: 3vw;
  }

  .project-details {
    padding-left: 20px;
    flex-direction: column;
  }

  div.project-name h2 {
    font-size: 4vw;
  }

  .project-name {
    align-items: center;
  }
  
  .project-description {
    padding-right: 30px;
  }

  .project-description h2 {
    font-size: 1.5vw;
    margin: 0;
  }

  .project-number h2 {
    font-size: 2.5vw;
  }

}
