.projectPage {
  font-family: 'Jaapokki';
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  justify-content: left;
}

.title {
  color: rgb(6, 255, 255);
  font-weight: 100;
}

.project-name a {
  transition: all ease-in .3s;
}

.project-name:hover a {
  color: rgb(6, 255, 255);
}

.projects-container {
  display: flex;
  justify-content: left;
}

.project-description, .project-name {
  margin: 0;
  padding: 0;
}

/* small screens */
@media (max-width: 732px) {

  .projectPage {
    margin-top: 45px;
    width: 85vw;
  }

  .title {
    letter-spacing: .2px;
  }

  .title-container {
    font-size: 2.3vw;
  }

  .projects-container {
    margin-top: 10px;
  }

  .project-container {
    margin-bottom: 15px;
  }

  .project-name {
    font-size: 7.5vw;
  }

  .project-description {
    font-size: 4vw;
  }

  img {
    transition: all 2s cubic-bezier(.23,1,.32,1);
    transform: scale(1);
  }

  img:hover {
    transform: scale(1.1);
  }

  .project-image {
    display: block;
    width: 20vw;
  }

}

/* big screens */
@media (min-width: 732px) {

  .projectPage {
    margin-top: 10vw;
    width: 75vw;
  }

  .projects-container {
    margin: 0;
    padding: 0;
  }

  .project-description, .project-name {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .project-name {
    font-size: 5.5vw;
  }

  .project-description {
    margin-left: 10px;
    font-size: 1.8vw;
  }

  .project-image {
    display: block;
    width: 20vw;
  }

}
