html, body, * {
  background-color: white;
  font-family: 'Jaapokki';
  box-sizing: border-box;
}

.App {
  padding-bottom: 100px;
  display: flex;
  justify-content: left;

}

@media (min-width: 720px) {
  .App {
    padding-left: 7vw;
  }
}